doctype html
html
    head
        title Ejemplo pug
        link(rel="stylesheet" href="estilos.css")
    boby
        h1 Esto es un encabezado
        div
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, temporibus inventore non officiis natus beatae accusamus a voluptatem modi quod quidem, suscipit earum illum ad ducimus soluta eaque qui dignissimos?
            p.parrafo.
                Esto es un parrafo
                que tiene
                multilinea